# Laboratorio 5 - Inteligencia de Negocios

> Juan José Beltrán Ruiz - 201819446

> Santiago Bobadilla Suárez - 201820728

In [1]:
# Librerías para manejo de datos
import pandas as pd
import numpy as np

## Carga de Datos

En esta unidad, se presentan el perfilamiento y preparación de los datos para la ejecución de los modelos.

### Dimensión ciudad

In [2]:
# Se cargan los datos. 
dfCity = pd.read_csv('dimension_city.csv', sep=',')
dfCity

,row ID,City_Key,City,State_Province,Country,Continent,Sales_Territory,Region,Subregion,Latest_Recorded_Population
0,Row0,0,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Row1,1,Carrollton,New York,United States,North America,Mideast,Americas,Northern America,0
2,Row2,2,Carrollton,Virginia,United States,North America,Southeast,Americas,Northern America,4574
3,Row3,3,Carrollton,Illinois,United States,North America,Great Lakes,Americas,Northern America,2484
4,Row4,4,Carrollton,Missouri,United States,North America,Plains,Americas,Northern America,3784
...,...,...,...,...,...,...,...,...,...,...
93,Row93,93,Austin,Texas,United States,North America,Southwest,Americas,Northern America,790390
94,Row94,94,Austin,Nevada,United States,North America,Far West,Americas,Northern America,192
95,Row95,95,Austin,Arkansas,United States,North America,Southeast,Americas,Northern America,2038
96,Row96,96,Austin,Indiana,United States,North America,Great Lakes,Americas,Northern America,4295
97,Row97,97,Austin,Pennsylvania,United States,North America,Mideast,Americas,Northern America,562

In [3]:
# En esta dimensión se va a eliminar la primera fila (unknown), ya que 
# no está referenciada desde la tabla de hechos. Además, se elimina la 
# columna rowID, teniendo en cuenta que no aporta información. 
# A pesar de que la población no tiene datos completos, no se puede obviar

dfCity.loc[dfCity.City_Key == 0, "City_Key"] = np.nan
dfCity.dropna(inplace = True)
dfCity.drop(['row ID'], axis=1, inplace=True)
dfCity

,City_Key,City,State_Province,Country,Continent,Sales_Territory,Region,Subregion,Latest_Recorded_Population
1,1.0,Carrollton,New York,United States,North America,Mideast,Americas,Northern America,0
2,2.0,Carrollton,Virginia,United States,North America,Southeast,Americas,Northern America,4574
3,3.0,Carrollton,Illinois,United States,North America,Great Lakes,Americas,Northern America,2484
4,4.0,Carrollton,Missouri,United States,North America,Plains,Americas,Northern America,3784
5,5.0,Carrollton,Ohio,United States,North America,Great Lakes,Americas,Northern America,3241
...,...,...,...,...,...,...,...,...,...
93,93.0,Austin,Texas,United States,North America,Southwest,Americas,Northern America,790390
94,94.0,Austin,Nevada,United States,North America,Far West,Americas,Northern America,192
95,95.0,Austin,Arkansas,United States,North America,Southeast,Americas,Northern America,2038
96,96.0,Austin,Indiana,United States,North America,Great Lakes,Americas,Northern America,4295
97,97.0,Austin,Pennsylvania,United States,North America,Mideast,Americas,Northern America,562

### Dimensión Customer

In [4]:
# Se cargan los datos
dfCustomer = pd.read_csv('dimension_customer.csv', sep=',', encoding='latin-1')
dfCustomer

,Customer_Key,Customer,Bill_To_Customer,Category,Buying_Group,Primary_Contact,Postal_Code
0,0,Unknown,NaN,NaN,NaN,NaN,NaN
1,1,Tailspin Toys (Head Office),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Waldemar Fisar,90410.0
2,2,Tailspin Toys (Sylvanite- MT),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Lorena Cindric,90216.0
3,3,Tailspin Toys (Peeples Valley- AZ),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Bhaargav Rambhatla,90205.0
4,4,Tailspin Toys (Medicine Lodge- KS),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Daniel Roman,90152.0
...,...,...,...,...,...,...,...
398,398,Wingtip Toys (Haycock- AK),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Bhaamini Kanaparthi,90603.0
399,399,Wingtip Toys (Kapa'a- HI),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Margit Molnar,90796.0
400,400,Wingtip Toys (Dickworsham- TX),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Chandni Jandhyala,90704.0
401,401,Wingtip Toys (Caro- MI),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Ljubomir Nesic,90043.0
402,402,Wingtip Toys (Ruthsburg- MD),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Telma Hermansson,90451.0

In [5]:
# Se elimina la primera fila (unknown), dado que no está siendo llamada
# desde la tabla de hechos
dfCustomer.loc[dfCustomer.Customer_Key == 0, "Customer_Key"] = np.nan
dfCustomer.dropna(inplace = True)
dfCustomer

,Customer_Key,Customer,Bill_To_Customer,Category,Buying_Group,Primary_Contact,Postal_Code
1,1.0,Tailspin Toys (Head Office),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Waldemar Fisar,90410.0
2,2.0,Tailspin Toys (Sylvanite- MT),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Lorena Cindric,90216.0
3,3.0,Tailspin Toys (Peeples Valley- AZ),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Bhaargav Rambhatla,90205.0
4,4.0,Tailspin Toys (Medicine Lodge- KS),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Daniel Roman,90152.0
5,5.0,Tailspin Toys (Gasport- NY),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Johanna Huiting,90261.0
...,...,...,...,...,...,...,...
398,398.0,Wingtip Toys (Haycock- AK),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Bhaamini Kanaparthi,90603.0
399,399.0,Wingtip Toys (Kapa'a- HI),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Margit Molnar,90796.0
400,400.0,Wingtip Toys (Dickworsham- TX),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Chandni Jandhyala,90704.0
401,401.0,Wingtip Toys (Caro- MI),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Ljubomir Nesic,90043.0
402,402.0,Wingtip Toys (Ruthsburg- MD),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Telma Hermansson,90451.0

### Dimensión Date

In [6]:
# Se cargan los datos
# Al hacer la inspección, se puede ver que no se necesita modificación alguna
dfDate = pd.read_csv('dimension_date.csv', sep=',', encoding='latin-1')
dfDate

,Date_key,Day_Number,Day_val,Month_val,Short_Month,Calendar_Month_Number,Calendar_Year,Fiscal_Month_Number,Fiscal_Year
0,2013-01-01,1,1,January,Jan,1,2013,3,2013
1,2013-01-02,2,2,January,Jan,1,2013,3,2013
2,2013-01-03,3,3,January,Jan,1,2013,3,2013
3,2013-01-04,4,4,January,Jan,1,2013,3,2013
4,2013-01-05,5,5,January,Jan,1,2013,3,2013
...,...,...,...,...,...,...,...,...,...
1456,2016-12-27,27,27,December,Dec,12,2016,2,2017
1457,2016-12-28,28,28,December,Dec,12,2016,2,2017
1458,2016-12-29,29,29,December,Dec,12,2016,2,2017
1459,2016-12-30,30,30,December,Dec,12,2016,2,2017
1460,2016-12-31,31,31,December,Dec,12,2016,2,2017

### Dimensión Employee

In [7]:
# Se cargan los datos
dfEmployee = pd.read_csv('dimension_employee.csv', sep=',', encoding='latin-1')
dfEmployee

     Employee_Key       Employee Preferred_Name  Is_Salesperson
0               0        Unknown            NaN           False
1               1      Lily Code           Lily            True
2               2  Isabella Rupp       Isabella           False
3               3   Ethan Onslow          Ethan           False
4               4      Amy Trefl            Amy            True
..            ...            ...            ...             ...
208           208  Archer Lamble         Archer            True
209           209     Piper Koch          Piper           False
210           210   Katie Darwin          Katie           False
211           211      Jai Shand            Jai           False
212           212    Jack Potter           Jack            True

[213 rows x 4 columns]

In [8]:
# La limpieza de los datos en esta parte se asocia a eliminar la primera fila
# y cambiar el atributo binario por valores 1, 0
dfEmployee.loc[dfEmployee.Employee_Key == 0, "Employee_Key"] = np.nan
dfEmployee.dropna(inplace = True)
dfEmployee

     Employee_Key       Employee Preferred_Name  Is_Salesperson
1             1.0      Lily Code           Lily            True
2             2.0  Isabella Rupp       Isabella           False
3             3.0   Ethan Onslow          Ethan           False
4             4.0      Amy Trefl            Amy            True
5             5.0      Jai Shand            Jai           False
..            ...            ...            ...             ...
208         208.0  Archer Lamble         Archer            True
209         209.0     Piper Koch          Piper           False
210         210.0   Katie Darwin          Katie           False
211         211.0      Jai Shand            Jai           False
212         212.0    Jack Potter           Jack            True

[212 rows x 4 columns]

### Dimensión Stock Item

In [9]:
# Se cargan los datos
dfStockItem = pd.read_csv('dimension_stock_item.csv', sep=',', encoding='latin-1')
dfStockItem.head(5)

,Stock_Item_Key,Stock_Item,Color,Selling_Package,Buying_Package,Brand,Size_val,Lead_Time_Days,Quantity_Per_Outer,Is_Chiller_Stock,Tax_Rate,Unit_Price,Recommended_Retail_Price,Typical_Weight_Per_Unit
0,0,Unknown,NaN,NaN,NaN,NaN,NaN,0,0,False,",000",",00",",00",",000"
1,1,Void fill 400 L bag (White) 400L,NaN,Each,Each,NaN,400L,14,10,False,"14,000","50,00","74,75","1,000"
2,2,Void fill 300 L bag (White) 300L,NaN,Each,Each,NaN,300L,14,10,False,"14,000","37,50","56,06",",750"
3,3,Void fill 200 L bag (White) 200L,NaN,Each,Each,NaN,200L,14,10,False,"14,000","25,00","37,38",",500"
4,4,Void fill 100 L bag (White) 100L,NaN,Each,Each,NaN,100L,14,10,False,"14,000","12,50","18,69",",250"

In [10]:
# Se elimina la primera fila dado que es el desconocido y nunca está 
# referenciada dentro de la tabla de hechos
dfStockItem = dfStockItem.drop(dfStockItem.index[0])
dfStockItem.head(5)

,Stock_Item_Key,Stock_Item,Color,Selling_Package,Buying_Package,Brand,Size_val,Lead_Time_Days,Quantity_Per_Outer,Is_Chiller_Stock,Tax_Rate,Unit_Price,Recommended_Retail_Price,Typical_Weight_Per_Unit
1,1,Void fill 400 L bag (White) 400L,NaN,Each,Each,NaN,400L,14,10,False,"14,000","50,00","74,75","1,000"
2,2,Void fill 300 L bag (White) 300L,NaN,Each,Each,NaN,300L,14,10,False,"14,000","37,50","56,06",",750"
3,3,Void fill 200 L bag (White) 200L,NaN,Each,Each,NaN,200L,14,10,False,"14,000","25,00","37,38",",500"
4,4,Void fill 100 L bag (White) 100L,NaN,Each,Each,NaN,100L,14,10,False,"14,000","12,50","18,69",",250"
5,5,Air cushion machine (Blue),NaN,Each,Each,NaN,NaN,20,1,False,"20,000","1899,00","2839,01","10,000"

In [11]:
# Se revisan los valores de la variable color:
# Se puede ver que hay muchos datos nulos,no obstante, puede ser valioso 
# realizar alguna clasificación dentro de la tabla de hechos para los demás 
# colores, así que serán conservados estos valores
dfStockItem['Color'].value_counts()

Black          143
White           89
Blue            59
Steel Gray      22
Red             19
Light Brown     12
Gray             9
Yellow           7
Name: Color, dtype: int64

In [12]:
# Se revisa lo mismo para selling package, pero nuevamente se puede ver que es 
# importante que se puedan hacer análisis sobre todos los datos:
dfStockItem['Selling_Package'].value_counts()

Each      630
Packet     17
Bag        16
Pair        8
Name: Selling_Package, dtype: int64

In [13]:
# Viendo la columna Brand, se puede ver que tiene un gran porcentaje de nulidad, 
# y los valores que no son nulos solamente tienen un valor, por lo cual se 
# considera que esto no aporta valor y por tanto debe ser eliminado
dfStockItem['Brand'].value_counts()

Northwind    67
Name: Brand, dtype: int64

In [14]:
# Posteriormente, se analiza la columna size_val, en donde podemos ver que 
# a pesar de los nulos, hay información valiosa, por lo cual no se hace ninguna
# modificación
dfStockItem['Size_val'].value_counts()

1/50 scale       38
XL               36
L                34
M                34
S                34
1/12 scale       29
10m              21
20m              21
50m              21
48mmx100m        21
48mmx75m         21
250g             14
5mm               9
1.5m              9
XXL               8
3XL               8
4XL               8
5XL               8
3XS               6
XS                6
9mm               6
18mm              6
325m              6
XXS               6
7XL               4
6XL               4
400L              3
300L              3
500x310x310mm     3
229x229x229mm     3
279x254x217mm     3
356x229x229mm     3
457x279x279mm     3
480x270x320mm     3
305x305x305mm     3
356x356x279mm     3
457x457x457mm     3
350x280x130mm     3
300x190x95mm      3
100L              3
200L              3
413x285x187mm     3
500g              2
Name: Size_val, dtype: int64

In [15]:
# Después se revisa el lead time , pero no se hace ninguna modificación
dfStockItem['Lead_Time_Days'].value_counts()

14    312
12    270
7      52
3      16
20     12
2       9
Name: Lead_Time_Days, dtype: int64

In [16]:
# Posteriormente, se revisa Quantity_Per_Outer. 
# No hay faltantes, por lo cual no se modifica la variable
dfStockItem['Quantity_Per_Outer'].value_counts()

1     386
12     95
10     92
24     44
25     36
5       6
36      6
20      3
26      3
Name: Quantity_Per_Outer, dtype: int64

In [17]:
# Ahora, se revisa el Tax_Rate, que debe ser numérico:
dfStockItem['Tax_Rate'].describe()

count        671
unique         6
top       14,000
freq         312
Name: Tax_Rate, dtype: object

In [18]:
# Se deben reemplazar las comas por puntos para así tener una representación
# numérica adecuada
aux = []
for valor in dfStockItem['Tax_Rate']:
  aux.append( valor.replace(',','.'))

dfStockItem['Tax_Rate'] = aux
dfStockItem['Tax_Rate'] = dfStockItem['Tax_Rate'].astype('float')
dfStockItem['Tax_Rate'].describe()

count    671.000000
mean      12.336811
std        2.848378
min        2.000000
25%       12.000000
50%       12.000000
75%       14.000000
max       20.000000
Name: Tax_Rate, dtype: float64

In [19]:
# Se debe hacer lo mismo para la columna de Unit_Price:
dfStockItem['Unit_Price'].describe()

count       671
unique       57
top       32,00
freq        132
Name: Unit_Price, dtype: object

In [20]:
# Se deben reemplazar las comas por puntos para así tener una representación
# numérica adecuada
aux = []
for valor in dfStockItem['Unit_Price']:
  aux.append( valor.replace(',','.'))

dfStockItem['Unit_Price'] = aux
dfStockItem['Unit_Price'] = dfStockItem['Unit_Price'].astype('float')
dfStockItem['Unit_Price'].describe()

count     671.000000
mean       46.673145
std       138.480702
min         0.660000
25%        13.000000
50%        18.000000
75%        32.000000
max      1899.000000
Name: Unit_Price, dtype: float64

In [21]:
# Se debe hacer lo mismo para el recommended retail price
dfStockItem['Recommended_Retail_Price'].describe()

count       671
unique       57
top       47,84
freq        132
Name: Recommended_Retail_Price, dtype: object

In [22]:
# Se deben reemplazar las comas por puntos para así tener una representación
# numérica adecuada
aux = []
for valor in dfStockItem['Recommended_Retail_Price']:
  aux.append(valor.replace(',','.'))

dfStockItem['Recommended_Retail_Price'] = aux 
dfStockItem['Recommended_Retail_Price'] = dfStockItem['Recommended_Retail_Price'].astype('float')
dfStockItem['Recommended_Retail_Price'].describe()

count     671.000000
mean       69.763815
std       207.032646
min         0.990000
25%        19.440000
50%        26.910000
75%        47.840000
max      2839.010000
Name: Recommended_Retail_Price, dtype: float64

In [23]:
# Finalmente, se hace para Typical_Weight_Per_Unit
dfStockItem['Typical_Weight_Per_Unit'].describe()

count      671
unique      23
top       ,150
freq       126
Name: Typical_Weight_Per_Unit, dtype: object

In [24]:
# Se deben reemplazar las comas por puntos para así tener una representación
# numérica adecuada
aux = []
for valor in dfStockItem['Typical_Weight_Per_Unit']:
  aux.append(valor.replace(',','.'))

dfStockItem['Typical_Weight_Per_Unit'] = aux 
dfStockItem['Typical_Weight_Per_Unit'] = dfStockItem['Typical_Weight_Per_Unit'].astype('float')
dfStockItem['Typical_Weight_Per_Unit'].describe()

count    671.000000
mean       1.927645
std        3.940181
min        0.050000
25%        0.150000
50%        0.350000
75%        0.700000
max       21.000000
Name: Typical_Weight_Per_Unit, dtype: float64

In [25]:
# Ahora se revisa que el dataframe haya quedado bien
dfStockItem

,Stock_Item_Key,Stock_Item,Color,Selling_Package,Buying_Package,Brand,Size_val,Lead_Time_Days,Quantity_Per_Outer,Is_Chiller_Stock,Tax_Rate,Unit_Price,Recommended_Retail_Price,Typical_Weight_Per_Unit
1,1,Void fill 400 L bag (White) 400L,NaN,Each,Each,NaN,400L,14,10,False,14.0,50.0,74.75,1.00
2,2,Void fill 300 L bag (White) 300L,NaN,Each,Each,NaN,300L,14,10,False,14.0,37.5,56.06,0.75
3,3,Void fill 200 L bag (White) 200L,NaN,Each,Each,NaN,200L,14,10,False,14.0,25.0,37.38,0.50
4,4,Void fill 100 L bag (White) 100L,NaN,Each,Each,NaN,100L,14,10,False,14.0,12.5,18.69,0.25
5,5,Air cushion machine (Blue),NaN,Each,Each,NaN,NaN,20,1,False,20.0,1899.0,2839.01,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Air cushion machine (Blue),NaN,Each,Each,NaN,NaN,20,1,False,20.0,1899.0,2839.01,10.00
668,668,Void fill 100 L bag (White) 100L,NaN,Each,Each,NaN,100L,14,10,False,14.0,12.5,18.69,0.25
669,669,Void fill 200 L bag (White) 200L,NaN,Each,Each,NaN,200L,14,10,False,14.0,25.0,37.38,0.50
670,670,Void fill 300 L bag (White) 300L,NaN,Each,Each,NaN,300L,14,10,False,14.0,37.5,56.06,0.75
671,671,Void fill 400 L bag (White) 400L,NaN,Each,Each,NaN,400L,14,10,False,14.0,50.0,74.75,1.00

### Tabla de hechos

In [26]:
# Se cargan los datos y vemos que no tiene ningún problema, por lo cual no debe ser modificada
dfFactOrder = pd.read_csv('fact_order.csv', sep=',', encoding='latin-1')
dfFactOrder

,order_key,city_key,customer_key,stock_item_key,order_date_key,picked_date_key,salesperson_key,picker_key,package,quantity,unit_price,tax_rate,total_excluding_tax,tax_amount,total_including_tax
0,1,91,179,533,2014-02-05,2013-03-17,135,122,S,805,237.77,61,2245.39,305.40,7529.12
1,2,83,2,631,2015-11-17,2013-07-19,2,133,S,76,721.71,59,6585.70,135.12,8442.06
2,3,47,390,174,2015-04-29,2015-11-03,128,75,S,585,2866.71,9,8113.37,792.11,9934.49
3,4,8,218,157,2015-04-04,2014-12-03,84,191,S,878,4671.07,39,9109.56,668.65,6166.09
4,5,94,167,235,2015-01-26,2015-01-11,91,197,S,583,1950.68,24,9277.41,66.55,3885.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,6,172,349,2014-06-26,2013-09-24,11,127,S,947,1845.76,41,9280.68,364.46,7563.61
996,997,15,46,486,2016-04-28,2015-05-16,74,188,S,891,1272.49,12,7740.30,738.71,5149.66
997,998,29,377,104,2015-07-11,2016-11-04,167,76,S,703,3069.80,31,7919.79,51.86,2417.56
998,999,61,333,297,2015-06-14,2015-10-12,116,210,XL,445,2537.12,63,8526.59,851.36,1800.51
999,1000,46,212,111,2015-01-16,2016-03-17,209,61,L,358,4051.32,9,9950.97,836.55,2101.15

## Se exportan los datos a csv corregidos

In [27]:
from google.colab import files

dfCity.to_csv('dimension_city.csv', encoding = 'utf-8') 
files.download('dimension_city.csv')
dfCustomer.to_csv('dimension_customer.csv', encoding = 'utf-8') 
files.download('dimension_customer.csv')
dfDate.to_csv('dimension_date.csv', encoding = 'utf-8') 
files.download('dimension_date.csv')
dfEmployee.to_csv('dimension_employee.csv', encoding = 'utf-8') 
files.download('dimension_employee.csv')
dfStockItem.to_csv('dimension_stock_item.csv', encoding = 'utf-8') 
files.download('dimension_stock_item.csv')
dfFactOrder.to_csv('fact_order.csv', encoding = 'utf-8') 
files.download('fact_order.csv')